
	<div class="row">
  <div class="large-6 large-push-3 columns text-center">
    <%= form_for(@product) do |f| %>
    
      <h3>Old name is '<%= @product.name %>'</h3> 
      <%= f.text_field :name %>

      <h3>Old count is '<%= @product.name %>'</h3> 
      <%= f.text_field :count %>

   <h3>Old price is '<%= @product.name %>'</h3> 
      <%= f.text_field :price %>

      <%= f.submit "Edit this product", class: "alert button but2" %>
    <% end %>
  </div>
</div>
